.ActiveTaskField{
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    display: flex;
    flex-wrap: row wrap;
    gap: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    margin-bottom: 10%;
    transition: 1s ease all;
}
.container{
        height: 100%;
            width: 100%;
            border: 1px solid black;
            word-break: break-all;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
}
.task {
    height: 100%;
    width: 7%;
    border: 1px solid black;   
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
            overflow-y: auto;
    /* overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.taskButtons{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.deleteTask, .doneTask{
    width: 100%;
    cursor: pointer;
}
.doneTask{
    margin-top: 2%;
}