.ActiveTaskField{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    display: flex;
    gap: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
}
.task {
    height: 100%;
    width: 7%;
    border: 1px solid black;   
    word-break: break-all;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.taskButtons{
    display: flex;
    width: 100%;
   flex-direction: column;
}
.deleteTask, .doneTask{
    width: 100%;
    cursor: pointer;
}
.doneTask{
    margin-top: 2%;
}