.InactiveTaskField {
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    display: flex;
    flex-wrap: row wrap;
    gap: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    transition: 1s ease all;
}